/* CONTACT SECTION */
#mapcontainer {
	width: 100%;
	height: 30%;	
	/*border: 1px solid black;*/
	box-sizing: border-box;	
}

#contact {
	min-height: 0;
}

#contactcontainer {	
	width: 100%;
	height: 75%;
	text-align: center;	
	box-sizing: border-box;
	position: relative;
	display: inline-block;	
	vertical-align: top;
	margin-bottom: 60px;
}

#contactcontainer li {
	display: inline-block;
	font-size: 20px;
}

#contactcontainer ul {
	margin-bottom: 0;
}


#contactcontainer img {
	width: 60px;
	height: 60px;
}

#contactcontainer .absolutecenter {
	width: 100%;
}
.contacttextcontainer {
	height: 75%;
	position: relative;
	vertical-align: top;
}

.contacttextcontainer {
	display: inline-block;
	text-align: center;
}

.contacttext {
	width: 100%;
	display: block;
	font-size: 75%;
}

#contact .title {
	margin-bottom: 2em;
}


#contactcontainer .verysmallcells .displaycell{
	height: 90%;
	width: 90%;
}

.verysmallcells .hvr-grow {
	height: 100%;
	width: 100%;

}

#contactcontainer .verysmallcells li {
	min-width: auto;
	height: 50%;
	/*width: 200px;*/
	margin: 0 10px 10px 0;
}


#finalnote {
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0px;
	height: 50px;
	background-color: #81BEF7;
	width: 100%;
	vertical-align: bottom;
	padding-top: 15px;	
	border-top: 2px solid lightgrey ;
}

#finalnote div {
	display: inline-block;
}

google-map {
	height: 100%;
}