html {
	height: 100%;
}

li {
	display: inline-block;
}

body {
	height: 100%;
	margin: 0;
	background-color: #F0EAD6;
	font-family: 'Pontano Sans', sans-serif;
}

#mobilebutton {
	width: 100px;
	height: 100px;
	background-color: grey;
	border: 2px solid black;
	position: fixed;
	left: 0; top:0;
	z-index: 2;
	text-align: center;
	display: none;
}

#navbarbuffer {
	height: 60px;
	display: block;
}

#navbar {
	height: 60px;
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
	color: white;
}

#navbarhighlight {
	position: fixed;
	display: inline-block;
	width: 14%; /* 20% of 70*/
	background-color: #81BEF7;
	height: 10px;
	top: 0;
	z-index: 1;
	display: none;
	box-sizing: border-box;
	/*border-top: 1px solid white;*/
	/*border-bottom: 1px solid white;*/

}

#navbar ul {
	display: inline-block;
	float: right;
	width: 70%;
	right: 0;
	height: 100%;
	margin: auto 0 auto auto;
	padding: 0;
	font-size: 0;
}

#navbar li {
	list-style-type: none;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 20%;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: grey;	
	font-size: 20px;
	border: 1px solid black;
	cursor: pointer;
}

#popupbackground {
	display: none;
	width: 100%;
	height: 100%;	

	background:rgba(0,0,0,.5);
	position: fixed;
	top: 0; left: 0;
	z-index: 1;
	padding: 50px 5% 50px 5%;
	box-sizing: border-box;
	color: black;
}

#popupclose {
	position: absolute;
	width: 70px;
	height: 70px;
	left: calc(100% - 35px);
	top: -35px;
	border: 3px solid grey;
	font-weight: bold;
	font-size: 30px;
	background: inherit;
	cursor: pointer;
}


#popupclose .hvr-fade {
	display: inline-block;
	width: 100%;
	height: 100%;
}

#popupinnercontainer {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	border: 1px solid grey;
	background:rgba(0,0,0,1);	
	background-color: #F2F2F2;
	max-width: 900px;
	/*margin: 0 auto;*/
	height: auto;
}

#popupinner {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}

#popupinner .title {
	margin: 0;
	height: 10%;
	box-sizing: border-box;
	font-size: 30px;
	padding-top: 20px;
}

#popupinnerbody {
	box-sizing: border-box;
	height: 90%;
	width: 100%;
	padding-top: 30px;
}

#popuppiccontainer {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	height: 60%;
	position: relative;	
	text-align: center;	
}

#popuppiccontainer img {
	max-width: 100%;
	max-height: 100%;
}

#popupcontentcontainer {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	/*float: right;*/
	height: 30%;
	border-top: 2px solid grey;
	margin-top: 20px;
}

#popupcontent {
	position: relative;
	height: 200px;
	width: 65%;
	display: inline-block;
	text-align: justify;
	box-sizing: border-box;
	margin-bottom: 20px;
}

#popupcontent div {
	width: 90%;
}

#popupcontentlinkcontainer {
	width: 29%;
	box-sizing: border-box;
	display: inline-block;
	height: 100%;
	margin-top: 20px;
	vertical-align: top;
}

#popupcontentlinkcontainer div {
	width: 100%;
	height: 50%;
	box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
}

#popuplink {
	position: relative;
}

#popuplink a {
	color: black;
	font-style: none;
}

#popupgithub {
	width: 40%;
}

.backgroundeven {
	background-color: #D8D8D8;
}

.backgroundodd {
	background-color: #FAFAFA;
}
